body {
  font-family:'arial';
  color:white;
  background-color:rgba(204,143,0,.6);
}
h3 {
  display:inline;
  font-size:15px;
}
input {
  height:40px;
  border-radius: 5px;
  font-size:20px;
}
button {
  height:100px;
  width:100%;
  margin:10px;
  background-color: #CC8F00;
  /*display:inline-block;*/
  color:white;
  font-size:30px;
  border-radius: 10px;
}
.container {
  margin: 0 auto;
  width: 800px;
  background-color:#903000;
  padding:60px;
  border-radius: 5px;
}
