body {
  margin:0;
  box-sizing: border-box;
  background-color:black;
  color: #f09000;
  font-family:'open sans';
}
.container {
  margin:0 auto;
  width:50%;
  padding:0 30px 30px 30px;
  border: 2px solid #f09000;
}
.header {
  /*border: 1px solid red;*/
  background-color:black;
  color:#f09000;
  text-transform: uppercase;
  border-bottom: 5px solid #f09000;
}
h1 {
  font-family:'open sans';
  font-weight:800;
  padding:50px 5px 10px 5px;
  text-align: center;
  font-size:60px;
}
.drink_button {
  background-color:black;
  display:block;
  width:100%;
  height:75px;
  color:#f09000;
  text-align:left;
  font-size: 30px;
  font-weight:700;
  border:none;
  border: 2px solid #f09000;
  /*border-right:none;*/
}
.drink_button:first-child {
  border-top:none;
}
.drink_button:nth-child(odd) {
  background-color:#2d2d2d;
}
.size_button {
  background-color:#2d2d2d;
  width:75px;
  height:50px;
  border-radius:5px;
  color:#f09000;
  font-size:18px;
}
input {
  height:30px;
  border-radius: 5px;
}

input#price {
  background-color: transparent;
  font-size: 3em;
  color: white;
  border: none;
  height: auto;
}